header {
    background: url("../images/header-about-bg.png");
}

li a:hover, li a.active {
    color: #3a3172;
}

.illustration {
    width: 280px;
    vertical-align: middle;
}

#bio, #skills {
    padding-left: 5%;
    padding-right: 5%; 
}

#bio {
    margin: 40px auto 104px auto;
    display: table;
}

.img-me img, .info-me {
    border-radius: 10px;
    box-shadow: 0px 4px 21px 0 rgba(58, 49, 114, 0.65);
}

.info-me {
    width: 55% !important;
    background-color: #ededed;
    cursor: pointer;
    opacity: 0.85;
    display: table-cell;
}

.img-me {
    display: table-cell;
    vertical-align: middle;
}

.img-me img {
    cursor: pointer;
}

.info-me .text {
    padding: 44px;
    margin-left: -20px
}

.info-me p {
    padding: 0;
}

.skills-list {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
}

.skill {
    perspective: 600px;
    width: 200px;
    height: 200px;
    opacity: 0.85;
    margin-bottom: 60px;
}

.box-skill {
    width: 80%;
    height: 80%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-skill.is-flipped {
  transform: rotateY(180deg);
}

.card-skill {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ededed;
    box-shadow: 0px 4px 21px 0 rgba(58, 49, 114, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-skill span {
    font-family: Aileron;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    line-height: 1.33;
    color: #ffa3a3;
}

.back {
    transform: rotateY( 180deg );
    background-color: #dadada93;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span.skill-font-small {
    font-size: 28px
}

@media screen and (min-width: 1024px) {
    .medium-skill, .small-skill {
        display: none;
    }
    .large-skill {
        display:block
    }
    .skill {
        height: 240px
    }
}

@media screen and (max-width: 1024px) {
    header {
        background: url("../images/header-about-bg-tablet.png");
        height: 1050px;
    }    
    .info-me {
        margin: 0;
        width: 90% !important;
        margin: -30px auto;
        z-index: 100;
        display: block;
    }
    
    .img-me img{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0
    }
    #bio {
        padding:0;
        display: block
    }

    .medium-skill, .small-skill {
        display: none;
    }
    .large-skill {
        display:block
    }

    .skills-list {
        padding:0
    }

    .skill span {
        font-size: 28px
    }

    span.skill-font-small {
        font-size: 24px
    }
}

@media screen and (max-width: 768px) {
    .skill span {
        font-size: 24px;
    }
    .medium-skill {
        display: block;
    }
    .large-skill, .small-skill {
        display:none
    }
    .skill {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 568px) {
    .skill span {
        font-size: 24px;
    }
    .small-skill {
        display: block;
    }
    .large-skill, .medium-skill  {
        display:none
    }
    .skill {
        margin-bottom: 40px;
    }
    .info-me .text {
        padding: 20px
    }
}