header {
    background: url("../images/header-home-bg.png");
}

li a:hover, li a.active {
    color: #ffa3a3;
}

.illustration {
    width: 410px;
    vertical-align: middle;
}

@media screen and (max-width: 1024px) {
    header {
        background: url("../images/header-home-bg-tablet.png");
        height: 1050px;
    }
}

